h1,h2,h3,h4,p, span{
  font-family: 'Poppins', sans-serif;
}
.main-background{
    background-image: url('/static/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
.opacity::before{
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.73);
}
.grey{
  background-color: #343840;
}
.title-2{
  font-size: 34px;
  line-height: 54px;
  letter-spacing: 3px;
}
.section p{
  line-height: 2.4;
}
.img-hall{
  max-height: 500px;
  padding: 50px;
  box-shadow: 0 28px 50px rgba(77,91,120,.15);
}
.subtitle{
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #787878;
}
.min-500px{
  min-height: 500px;
}
.icon-color a i{
  color: white;
}

/* Section grid setting */
.section{
  padding: 140px 0;
}

/* ID sections CSS custom organizer */
#projects{
  background: #f9f9f9;
}

/* Listing projects with filter */
.cust-li{
  font-weight: ;
}