.main-background{
    background-image: url('/static/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  .opacity::before{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.73);
  }
  .grey{
    background-color: #343840;
  }
  .grey-light{
    background-color: #5B6270;
  }
  .min-500px{
    min-height: 500px;
  }